# https://stackoverflow.com/a/35456287/1351845
unalias run-help 2>/dev/null
autoload run-help
[ -d /usr/local/share/zsh/help ] && HELPDIR=/usr/local/share/zsh/help
alias help=run-help

# https://news.ycombinator.com/item?id=11070797
alias c='git --git-dir=$HOME/.myconf --work-tree=$HOME'
alias chh='cd ~/.myconf && tig && cd -'

# http://grml.org/zsh/zsh-lovers.html [Aliases section]
# quick view md files with glow
alias -s md='glow -s light'
# global aliases
alias -g C='| wc -l'
alias -g L="| less"
alias -g LS='| less -S'
alias -g G='| rg'
alias -g H='| head'
alias -g HL='| head -20'
alias -g T='| tail'
alias -g TL='| tail -20'
alias -g X='| xargs'
alias -g X0='| xargs -0'
alias -g NUL="> /dev/null 2>&1"
alias -g Sk="*~(*.bz2|*.gz|*.tgz|*.zip|*.z)"

# Unix
alias u='ls -1A'   # Lists in one column, hidden files.
alias uh='ls -lh'  # Lists human readable sizes.
alias ur='uu -R'   # Lists human readable sizes, recursively.
alias ua='uh -A'   # Lists human readable sizes, hidden files.
alias uk='uh -Sr'  # Lists sorted by size, largest last.
alias ut='uh -tr'  # Lists sorted by date, most recent last.
alias uc='ut -c'   # Lists sorted by date, most recent last, shows change time.
alias uu='ut -u'   # Lists sorted by date, most recent last, shows access time.

alias rmm="rm -rf"
alias q='exit'
alias md='mkdcd'

# Pretty print the path
alias path='echo -e ${PATH//:/\\n}'

# Pretty print the path
alias fpath='echo $FPATH | tr -s ":" "\n"'

# ps aux | grep [h]ttpd
# Eliminates second instance of grep -v (Inverted search)
# http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
# http://www.manpagez.com/info/grep/grep-2.5.4/grep_21.php#SEC21 paragraph 7
alias psg='ps aux | grep $(echo $1 | sed "s/^\(.\)/[\1]/g")'

# alias header='curl -I'
# alias c='curl -s --dump-header /dev/stderr'
alias myip='curl icanhazip.com'
alias showip='dig +short myip.opendns.com @resolver1.opendns.com'
alias t2='tree -Fth -L 2 --du |less' #see tree with size up to 2 levels deep

# tmux
alias tma='tmux attach -d -t'
alias tmn='tmux new -s $(echo ${PWD##*/} | sed "s/[^[:alnum:]]//g")'
alias tmu='tmux list-sessions'

# convenience
alias kakl='kak -l'
alias kakg='kak -c global'
alias eH='kak ~/.hammerspoon/init.lua'
alias eS='kak ~/.ssh/config'
alias eD='kak ~/.zprezto/modules/docker/alias.zsh'

# Mac
alias pbsort='pbpaste | sort | pbcopy'
# Hide/show all desktop icons (useful when presenting)
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'
# Empty the Trash on all mounted volumes and the main HDD
# alias emptytrash='sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash'
alias pxon='networksetup -setsocksfirewallproxystate "Wi-Fi" on'
alias pxoff='networksetup -setsocksfirewallproxystate "Wi-Fi" off'

# AirPort Utility
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/A/Resources/airport'

# tcpdump
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias dnsdump="sudo tcpdump -lvi any 'udp port 53'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Convert YouTube link to mp3
alias ytmp3='youtube-dl --extract-audio --audio-format mp3 --audio-quality 0'
