[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule ".config/kak/plugins/plug.kak"]
	path = .config/kak/plugins/plug.kak
	url = https://gitlab.com/andreyorst/plug.kak
